

.name-product {
    font-family: "BerlinSansFBDemiBold", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.4rem;
}

.price-product {
    font-family: "BerlinSansFBDemiBold", sans-serif;
}